header {
    position: relative;
    background-color: #fff;
    height: 6.5rem;
}

.back {
    position: absolute;
    top: .1rem;
    left: .1rem;
    color: #999;
    font-size: .8rem;
    width: .3rem;
    height: .3rem;
}

@keyframes boxshow {
    0% {}
    100% {
        box-shadow: 0px 0px .1rem #f32555;
    }
}


/* 180px  */

.box1 {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    /* background-color: rgba(243, 37, 85, .1); */
    background-color: rgba(243, 37, 85, .1);
    border-radius: 50%;
    /* animation: boxshow 1s linear infinite; */
    /* box-shadow: 0 0 10px #f32555; */
}

.box1 div {
    position: absolute;
    border-radius: 50%;
}

.box1 .p1 {
    background-color: #ff537b;
    top: 1rem;
    left: 0.05rem;
    width: .1rem;
    height: .1rem;
}

.box1 .p2 {
    background-color: #ff537b;
    top: 0.8rem;
    left: 2rem;
    width: .1rem;
    height: .1rem;
}

.box1 .p3 {
    background-color: #54eab7;
    top: 0.1rem;
    left: .4rem;
    width: .2rem;
    height: .2rem;
}

.box1 .p4 {
    background-color: #54eab7;
    top: 0.6rem;
    left: 2.2rem;
    width: .15rem;
    height: .15rem;
}

.box1 .p5 {
    background-color: #54eab7;
    top: 2.1rem;
    left: 1.8rem;
    width: .1rem;
    height: .1rem;
}

.box1 .p6 {
    background-color: #597ef7;
    top: 0.3rem;
    left: 2rem;
    width: .1rem;
    height: .1rem;
}

.box1 .p7 {
    background-color: #ffdf7c;
    top: 2.1rem;
    left: .4rem;
    width: .1rem;
    height: .1rem;
}


/* 140px  */

.box2 {
    position: absolute;
    width: 1.866667rem;
    height: 1.866667rem;
    left: 50%;
    top: 1.266667rem;
    transform: translateX(-50%);
    background-color: rgba(243, 37, 85, .2);
    border-radius: 50%;
    animation: boxshow 4s linear alternate infinite;
}


/* 100px  */

.box3 {
    position: absolute;
    width: 1.333333rem;
    height: 1.333333rem;
    line-height: 1.333333rem;
    left: 50%;
    top: 1.543333rem;
    transform: translateX(-50%);
    background-color: rgba(243, 37, 85, 1);
    border-radius: 50%;
    /* animation: boxshow 1s linear infinite; */
    color: #fff;
    text-align: center;
    font-size: .64rem;
}

header h3 {
    position: absolute;
    top: 3.84rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: .426667rem;
}

.gohome {
    position: absolute;
    right: 50%;
    top: 5.12rem;
    height: .746667rem;
    line-height: .746667rem;
    width: 2.053333rem;
    text-align: center;
    font-size: .32rem;
    border-radius: .36rem;
    border: 1px solid #bfbfbf;
    color: #666;
    background-color: #f4f4f4;
    margin-right: .4rem;
}

.goevaluate {
    position: absolute;
    left: 50%;
    top: 5.12rem;
    height: .746667rem;
    line-height: .746667rem;
    width: 2.053333rem;
    text-align: center;
    font-size: .32rem;
    border-radius: .36rem;
    border: 1px solid #f32555;
    color: #fff;
    background-color: #f32555;
    margin-left: .4rem;
}

.guess h2 {
    font-size: .4rem;
    padding: .4rem .2rem 0.2rem;
    margin: 0;
}


/* 订单信息 */

.orderinfo {
    background-color: #fff;
    margin-top: .2rem;
}

.orderinfo h3 {
    font-size: .373333rem;
    height: 1.253333rem;
    line-height: 1.253333rem;
    border-bottom: 1px solid #f3f3f3;
    padding-left: .4rem;
}

.detail-l-r {
    padding: 0 .4rem;
    display: flex;
    justify-content: space-between;
    font-size: .32rem;
    height: 1.2rem;
    line-height: 1.2rem;
    box-sizing: border-box;
    color: #666;
}

.detail-l-r-border-botton {
    border-bottom: 1px solid #f3f3f3;
}

.lookorders {
    font-size: .32rem;
    height: 1.2rem;
    line-height: 1.2rem;
}

.lookorders a {
    float: right;
    height: .72rem;
    line-height: .7rem;
    box-sizing: border-box;
    padding: 0 .2rem;
    text-align: center;
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
    border-radius: .36rem;
    margin-right: .4rem;
}