section {
    height: 100%;
    width: 10rem;
    background-color: pink;
    border-top: 1px solid #f0f0f0;
}

.type {
    float: left;
    width: 2.2rem;
    height: 100%;
    background-color: #f6f6f6;
}

.type li {
    height: 1.333333rem;
    line-height: 1.333333rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.32rem;
    color: #333;
}

.type li.cur {
    border-left: 2px solid #f32555;
    color: #f32555;
}

.type_list {
    width: 7.8rem;
    float: left;
    background-color: #fff;
    height: 14rem;
    overflow-y: scroll;
}

.type_list a {
    float: left;
    width: 2rem;
    height: 3rem;
    margin: 0.2rem 0.3rem;
    text-align: center;
}

.type_list a img {
    width: 100%;
}

.type_list a span {
    display: block;
    font-size: .32rem;
    color: #666;
    margin: .16rem 0;
}